
/*Body*/
body{
    font: 10px/1.5 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #efe;
    background: linear-gradient(#808080,#FFFFFF);
}

/*Logo*/
img#logo{
    width: 60%;  /*500px*/
}

/*Background Images*/
img#ironman{
    float: left;
    width: 15%;  /*150px*/
}


img#thor{
    float: right;
    width: 15%;  /*150px*/

}

/*Wrapper*/
#wrapper{
    width: 70%;  /*960px*/
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(#000,#ff0000);
    /*margin-bottom: 55px;   *//*Moved footer down by putting margin on*/
    border-radius: 30px ;
    margin-top: auto;
    margin-bottom: auto;
}

/*Navigation*/

ul#navigation li{
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
    padding: 1%;   /*4px*/
    margin-right: 1.041%; /*50px*/
}

/*Navigation Links*/
a:link{
    color: #efe;
    text-decoration: none;
    font-size: 1.0em; /*16px*/
}

a:visited{
    color: #00bfff;
    text-decoration: line-through;
}

a:hover{
    color:#f00;
    text-decoration: underline;
}

a:active{
    color: #0000ff;
    text-decoration: underline;
}

/*Headings*/

header > h1{
    font-size:2.400em;  /*24px*/
    text-align: center;
    text-decoration: underline;
}

section > h2{
    font-size: 2.0em;  /*20px*/
    text-decoration: underline;
    text-indent: 3px;
}

h3 + li {
    font-size: 2.0em;  /*20px*/
    text-decoration: underline;
    text-indent: 3px;
    margin-right: 1.041%; /*55px*/
    margin-left: 1.041%;  /*55px*/
}

p[class~="sentences"]{
    font-size: 1.400em;  /*14px*/
}

/*QUESTION=======================*/
/*ul#AvengersAssemble{*/
    /*font-size: 14px;*/
/*}*/

/*Question answered, put ul li instead of #AvengersAssemble*/
ul li {
    font-size: 1.600em;  /*16px*/
    margin-top: 1%;    /*10px*/
    margin-right: 1.041%;;  /*55px*/
    margin-left: 1.041%;  /*55px*/
}

em{
    font-size: 0.750em;  /*12px*/
}

/*Captain America*/
img#captainamerica{
    float: left;
    width: 40%   /*300px*/
}


/*Sections*/

section{
    float: left;
    width: 31.70731707%;  /*390px1230px*/
    margin: .81300813%;  /*10px/1230px*/
}


/*Footer*/

footer{
    text-align: center;
    color: #ff0000;
    font-weight: bold;

}


/*Media Queries=============================================== */

/*Tablet Portrait size to standard 960 (devices and browsers)*/
@media screen and (min-width: 800px) and (max-width: 1010px){
    h1 {
        width: 100%;
    }
}

/*Mobile Landscape Size to Tablet Portrait (devices and browsers)*/
@media only screen and (min-width: 480px) and (max-width: 799px)
{
    h1{
        width: 100%;
    }
    section{
        float: none;
        width: 100%
    }
}

/*Mobile Landscape Size to Tablet Portrait (devices and browsers)*/
@media only screen and (max-width: 479px){

}

h1{
    width: 100%;
}
section{
    float: none;
    width: 100%
}

